BEGIN;
SELECT setval(pg_get_serial_sequence('"account_signup"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "account_signup";
SELECT setval(pg_get_serial_sequence('"contact_contact"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "contact_contact";
SELECT setval(pg_get_serial_sequence('"product_product"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "product_product";
COMMIT;
